################################################################################
## gitignore for rp_ambi
## Created: 2025-06-12
################################################################################

.DS_Store
.AppleDouble
.LSOverride


################################################################################
## .gitignore